.ml
{
    margin-left: 25px !important; /* 8px*/
}
h1{
    text-align: center;
}
@media (max-width: 375px )
{
    .ml
{
    margin-left: 8px !important; /* 8px*/
}

    .loading_image {
        margin-left: 37% !important;

    }
}




